{% macro troop_card(troop, max_level, image_folder='troops') %}
    <div class="troop-card">
        <img src="{{ url_for('static', filename='images/' + image_folder + '/' + troop.name|lower + '.png') }}" alt="{{ troop.name }}" class="troop-image">
        <div class="troop-info">
            <strong>{{ troop.name }}</strong>
            <p>{{ troop.level }}/{{ max_level }}</p>
        </div>
    </div>
{% endmacro %}

{% macro spell_card(spell, max_level) %}
    <div class="spell-card">
        <img src="{{ url_for('static', filename='images/spells/' + spell.name|lower + '.png') }}" alt="{{ spell.name }}" class="spell-image">
        <div class="spell-info">
            <strong>{{ spell.name }}</strong>
            <p>{{ spell.level }}/{{ max_level }}</p>
        </div>
    </div>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/siege.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/troop_spell.css') }}">
</head>
<body>
    <div class="container">
        <!-- Player Name -->
        <h1 class="player-name">{{ player.name }}</h1>

        <!-- Town Hall Image -->
        <div class="player-info">
            <div class="townhall-image">
                <img src="{{ url_for('static', filename='images/townhalls/townhall_' + player.townHallLevel|string  + '.png') }}" alt="Townhall {{ player.townHallLevel }}">
            </div>
        </div>
        
        
        <!-- Elixir Troops -->
        <h3>Home Village Troops</h3>
        <h3>Elixir Troops</h3>
        <div class="troop-grid">
            {% for troop in player.troops %}
                {% if troop.village == 'home' 
                   and troop.name not in ['Ice Hound', 'Rocket Balloon', 'Sneaky Goblin', 'Inferno Dragon']
                   and 'Super' not in troop.name 
                   and troop.name not in siege_machines
                   and troop.name not in dark_elixir_troops
                   and troop.name not in pets %}  
                    {{ troop_card(troop, elixir_troop_max_levels.get(troop.name, 'N/A')) }}
                {% endif %}
            {% endfor %}
        </div>

        <!-- Dark Elixir Troops -->
        <h3>Dark Elixir Troops</h3>
        <div class="troop-grid">
            {% for troop in player.troops %}
                {% if troop.village == 'home' and troop.name in dark_elixir_troops %}
                    {{ troop_card(troop, dark_elixir_troop_max_levels.get(troop.name, 'N/A')) }}
                {% endif %}
            {% endfor %}
        </div>

        <!-- Spells -->
        <h3>Spells</h3>
        <div class="spell-grid">
            {% for spell in player.spells %}
                {{ spell_card(spell, spells_max_levels.get(spell.name, 'N/A')) }}
            {% endfor %}
        </div>

        <!-- Siege Machines -->
        <h3>Siege Machines</h3>
        {% if town_hall_level < 12 %}
            <p>Siege Machines are unlocked at Town Hall 12.</p>
        {% else %}
            <div class="troop-grid">
                {% for troop in player.troops %}
                    {% if troop.village == 'home' and troop.name in siege_machines %}
                        {{ troop_card(troop, siege_machine_max_levels.get(troop.name, 'N/A'), 'siege machines') }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <h3>Pets</h3>
        {% if town_hall_level < 14 %}
            <p>Pets are unlocked at Town Hall 14.</p>
        {% else %}
            <div class="pet-grid">
                {% for troop in player.troops %}
                    {% if troop.village == 'home' and troop.name in pets %}
                        {{ troop_card(troop, pets_max_levels.get(troop.name, 'N/A'), 'pets') }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
    <a href="{{ url_for('clan_members') }}" class="btn btn-back">Back to Clan Members</a>

</body>
</html>
